*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.div1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100vw);
    grid-auto-flow: column;
    gap: 0;
    overflow: hidden;
    height: 100vh;
}

.div1_inner {
    width: 100vw;
    height: 100vh;
}

.div1_inner1 {
    background-color: orange;
}

.div1_inner2 {
    background-color: green;
}

.div1_inner3 {
    background-color: blue;
}

.div1_inner4 {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1f27;
}

.div1_inner5 {
    position: relative;
    background-color: black;
    text-transform: capitalize;
}

.black {
    background-color: black;
}

.div1_inner2_inner,
.div1_inner3 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.flower {
    position: absolute;
    color: white;
}

.flower1 {
    bottom: 60%;
    width: 70px;
    height: 70px;
}

.flower2 {
    bottom: 40%;
    width: 70px;
    height: 70px;
}

.flower3 {
    bottom: 20%;
    width: 70px;
    height: 70px;
}

.flower1_text {
    color: white;
    position: absolute;
    bottom: 60%;
    font-size: 10rem;
}

.flower2_text {
    color: white;
    position: absolute;
    bottom: 40%;
    font-size: 10rem;
}

.flower3_text {
    color: white;
    position: absolute;
    bottom: 20%;
    font-size: 10rem;
}

.box {
    width: 70px;
    height: 70px;
    background-color: pink;
    position: absolute;
}

.circle,
.circle_hidden {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
}

.circle {
    pointer-events: none;
}

.circle_hidden {
    width: 170px;
    height: 170px;
    opacity: 0;
    background-color: white;
}

.box1 {
    top: 10%;
    left: 30%;
}

.box2 {
    top: 10%;
    right: 30%;
}

.box3 {
    bottom: 10%;
    left: 30%;
}

.box4 {
    bottom: 10%;
    right: 30%;
}

.race_car_slide {
    width: 100%;
    height: 100%;
}

.alien_svg {
    flex: 0 0 auto;
    height: 80vh;
    border-radius: 50%;
    border: solid #fff 4px;
    background-color: #1d1551;
}

.div1_inner5_text,
.div1_inner5_text1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    color: white;
}

.div1_inner5_text1 {
    background-color: white;
    color: black;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 70ms
}

.image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
}

.image__container__headline {
    font-size: 5vmin;
}

.image__hero__inner {
    display: flex;
    position: relative;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.image__hero__inner::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}

.image__hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    object-fit: cover;
}

.image__hero__content {
    display: none;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.image__hero__headline {
    --padding: 1.5vmin;
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(0.25, 1, 0.5, 1);

    position: relative;
    display: inline-block;
    font-size: 10vmin;
    overflow: hidden;
    margin-top: calc(var(--padding) * -1);
    padding: var(--padding);
}

.image__hero__headline::after {
    content: "";
    position: absolute;
    top: calc(100% - var(--padding));
    left: 0;
    background-color: white;
    width: 100%;
    height: 1.5vmin;
    transform: scaleX(0);
    transition: transform var(--duration) var(--delay) var(--ease);
}

.image__hero__headline span {
    display: block;
    transform: translateY(110%);
    transition: transform var(--duration) var(--ease);
}

.image__active .image__hero__headline::after {
    transform: scaleX(1);
    transition-delay: 0s;
}

.image__active .image__hero__headline span {
    transform: translateY(0);
    transition-delay: var(--delay);
}

.c3 {}

.c3_container {
    position: sticky;
    width: fit-content;
    height: 100vh;
}

.c3_image_container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.c3_image {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

#c3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container {
    color: white;
    display: grid;
    grid-template-areas: "text1 ."
        ". text2"
        "text3 .";
    font-size: 4rem;
    gap: 5rem;
    padding: 5rem 1rem;
}

.text {
    opacity: 0;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

::selection {
    background: #87cd33;
    color: white;
}

.div4 {
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.h1 {
    font-size: 5rem
}

.h2 {
    font-size: 2rem
}

.img {
    width: 500px;
    height: auto;
    background: #f0f0f0;
}

.ul {
    padding-left: 1rem;
    list-style: none;
}

.li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}

.header {
    height: 100vh
}

.footer {
    height: 50vh
}

:any-link {
    color: #4e9815;
}

.df {
    display: flex
}

.aic {
    align-items: center
}

.jcc {
    justify-content: center
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
}

.demo-wrapper {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

.demo-gallery:not(.last) {
    padding-bottom: 1rem;
}

.demo-text .text {
    font-size: clamp(8rem, 15vw, 16rem);
    line-height: 1;
    font-weight: 900;
}

.div1_inner3 {
    min-height: 100vh;
    color: var(--color-just-black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.inner3_container1,
.inner3_container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px dashed var(--color-surface-white);
    border-radius: 10px;
    margin: 5px;
    width: 90vw;
    min-height: 96px;
    position: relative;
    margin-top: 2rem;
    padding: 0.5rem;
}

.inner3_container1::before,
.inner3_container2::before {
    content: "container1";
    position: absolute;
    bottom: 100%;
    padding-bottom: 0.5rem;
    left: 5px;
    color: #888;
    font-size: 0.75em;
}

.inner3_container2::before {
    content: "container2";
}

.inner3_container1 div,
.inner3_container2 div {
    width: 100px;
    height: 100px;
    margin: 6px 4px;
    line-height: 80px;
    text-align: center;
}

.inner3_invisible {
    display: none;
}

.inner3_flipping {
    border: 4px solid white;
}

.inner3_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.inner3_gradient-blue {
    background: linear-gradient(45deg, #1e3a8a, #3b82f6);
    /* Blue gradient */
    transition: background 0.5s ease-in-out;
    /* Smooth transition */
}

.inner3_gradient-pink {
    background: linear-gradient(45deg, #be185d, #ec4899);
    /* Pink gradient */
    transition: background 0.5s ease-in-out;
    /* Smooth transition */
}
